replicaCount: 1

image:
  repository: api-node
  pullPolicy: Never
  tag: "v1.0"

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 20
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 10

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  periodSeconds: 20
  timeoutSeconds: 10
  failureThreshold: 5

configmapVariables:
  APP_PORT: 8080